/* MAIN SECTION */
.main {
    width: 90%;
    height: 90%;
    position: relative;
    top: 5%;
    left: 5%;
    border-radius: 10px;
    border: 2px solid rgb(43, 28, 2);
    background-image: url("../img/rock.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    box-sizing: border-box;
    padding: 10px 20px;
}
.scrollDiv {
    width: 100%;
    height: 70%;
    overflow-y: scroll;
}
.scrollDiv::-webkit-scrollbar {
    display: none;
}
h1 {
    text-align: center;
    color: gold;
    font-weight: bold;
}
ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}
.myStar {
    color: rgb(133, 115, 13);
}
/* EACH TASK SECTION */
.showDiv {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 5px;
    margin: 10px 0 5px;
    color: black;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.dropButton {
    font-size: 2rem;
    cursor: pointer;
}
.dropButton:hover {
    color:brown;
}
.dropButton:active {
    position: relative;
    top: 2px;
}
.settingsDiv {
    background-color: rgba(255, 255, 255, 0.726);
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 15px;
}
.settingsDiv, .updateDiv {
    display: none;
}
.buttonDiv {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    margin: 0 15px;
}
a:active {
    position: relative;
    top: 2px;
}
.update {
    background-color: rgba(0, 0, 255, 0.897);
}
.delete {
    background-color: red;
}

/* UPDATE EXISTING TASK SECTION */
.updateDiv form {
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.updateClass {
    width: 80%;
    height: 50px;
    margin: auto;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid black;
}
.submitClass {
    border: none;
    border-radius: 5px;
    width: 25%;
    height: 50px;
    margin: 5px auto 0;
    background-color: #FC7300;
    color: white;
}

/* ADD NEW TASK SECTION */
.addDiv {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(36, 35, 35, 0.849);
    color: white;
    box-sizing: border-box;
    padding: 0 10px;
    position: relative;
    top: 40px;
}
.addButton {
    border: none;
    background-color: rgba(36, 35, 35, 0.849);
    color: white;
    margin-right: 20px;
}
.addButton i {
    font-size: 2rem;
}
.addInput {
    width: 100%;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    padding-left: 10px;
    color: white;
    font-weight: bold;
}